.header {
  height: 34vw;
  margin: 30px auto;
  background: url(/header_img.png);
  background-size: contain;
  position: relative;
}
.header-content {
  position: absolute;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.5vw;
  bottom: 10%;
  max-width: 50%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-content p {
  color: white;
  font-size: 1vw;
}
.header-content button {
  border: none;
  font-weight: 500;
  color: #747474;
  background-color: white;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
@media (max-width: 1050px) {
  .header-content {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-content {
    max-width: 65%;
  }
  .header-content p {
    display: none;
  }
  .header-content button {
    padding: 2vw 4vw;
  }
}
